main {
    width: 100vw;
    max-width: calc(100% - 10px);
    margin: auto;
    margin-left: 0;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    padding-left: 0%;
    display: flex;

}

@media screen and (max-width: 768px) {
    main {
        margin: auto;
        margin-top: 20px;
    }


}